{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Dashboard</h1>
        <p>Welcome to the <strong><span style="color: red;">admin</span></strong> dashboard.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Users</h2>
        <p>There are currently {{ users|length }} users in the system.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Stock Information</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Stock Name</th>
                    <th>Price</th>
                    <th>Change</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                <tr>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.price }}</td>
                    <td>{{ stock.change }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>User Logs</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Action</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr>
                    <td>{{ log.user }}</td>
                    <td>{{ log.action }}</td>
                    <td>{{ log.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}