{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <h1>Login</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if current_user and current_user.is_authenticated %}
        <p>You are already logged in as {{ current_user.username }}.</p>
        <p><a href="/logout">Logout</a></p>

        <h1>Welcome, {{ current_user.username }}!</h1>
        {% if current_user.role == "admin" %}
            <h2>Admin Dashboard</h2>
            <p>This is visible only to admins: Manage users, settings, etc.</p>
        {% else %}
            <h2>User Dashboard</h2>
            <p>This is visible only to users: Your profile info.</p>
        {% endif %}
    
    {% else %}
        <!-- form for user log in. -->
        <form method="POST" action="/login">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <nav>
            <ul>
                <li><a href="/sign_up">Create account</a></li>
            </ul>
        </nav>
    {% endif %}

{% endblock %}
