{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

    <style>
        .login-header {
            max-width: 500px;
            margin: 0 auto;
        }
        .btn-asu {
          background-color: #8C1D40;
          border-color: #8C1D40;
          color: #fff;
        }
        .btn-asu:hover {
          background-color: #7a1436;
          border-color: #7a1436;
        }
        .login-card {
          max-width: 500px;
          margin: 0 auto;
        }
        a {
          color: #8C1D40;
        }
      </style>
        <div class="login-card">
            <div class="login-header">
                <h1>Login</h1>
            </div>
        <!-- form for user log in. -->
            <form method="POST" action="/login">
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Login</button>
            </form>
            <br>
            <p>Don't have an account? <a href="/sign_up">Sign Up</a></p>
        </div>
{% endblock %}