{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="container">

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <!-- Trending Stocks -->
    <div class="row mt-4">
        <div class="col-md-12">
            <h2>Trending Stocks</h2>
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Stock Symbol</th>
                        <th>Company Name</th>
                        <th>Price</th>
                        <th>Day Low</th>
                        <th>Day High</th>
                    </tr>
                    <tr>
                        <td>APL</td>
                        <td>Apple Inc.</td>
                        <td>$150.00</td>
                        <td>N/A</td>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <td>GGL</td>
                        <td>Google.</td>
                        <td>$2800.00</td>
                        <td>N/A</td>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <td>AMZ</td>
                        <td>Amazon.com Inc.</td>
                        <td>$3400.00</td>
                        <td>N/A</td>
                        <td>N/A</td>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks %}
                    <tr>
                        <td>{{ stocks.ticker_symbol }}</td>
                        <td>{{ stocks.name }}</td>
                        <td>${{ portfolio.current_price }}</td>
                        <td>${{ stocks.day_low }}</td>
                        <td>${{ stocks.day_high }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}