{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="container">

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <!-- Trending Stocks -->
    <div class="row mt-4">
        <div class="col-md-12">
            <h2>Trending Stocks</h2>
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Stock Symbol</th>
                        <th>Company Name</th>
                        <th>Current Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks %}
                    <tr>
                        <td>{{ stock.ticker_symbol }}</td>
                        <td>{{ stock.name }}</td>
                        <td>${{ stock.price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}